.board {
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid black;
    width: 250px;
    margin: auto;
    margin-top: 150px;

    & > .row {
        display: flex;
        justify-content: space-between;
        background: lightgray;
    }
}