@import "./../styles/variables";

.board {
    display: flex;
    flex-direction: column-reverse;
    border: 10px solid $lightGrey;
    width: 250px;
    margin: auto;
    margin-top: 150px;

    & > .row {
        display: flex;
        justify-content: space-between;
        background: $lightGrey;
    }
}