.square {
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    margin: 4px;
    display: flex;
    &:hover{
        cursor: pointer;
    }
    &:active{
        background: rgb(221, 221, 221);
        border-radius: 5px;
    }
}